@import url('https://fonts.googleapis.com/css2?family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');

body {
    font-family: "TikTok Sans", sans-serif;
}

.container-padding{
padding: 48px 0;
}




.accordion {
    border-bottom: 1px solid #ddd !important;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}


.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}
.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.accordion:after {
  content: '\02795'; 
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796";
}

 /* Hide scrollbar */
    .products-slider {
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .products-slider::-webkit-scrollbar {
        display: none;
    }

    /* Prevent cards from shrinking */
    .products-container {
        flex-shrink: 0;
    }

    /* Smooth scrolling */
    .products-slider {
        scroll-behavior: smooth;
    }